.UserCollectible-grid-container {
    position: absolute;
    left: calc(100%/2 - (1325px/2));

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 25px;
    column-gap: 25px;

}
.UserCollectible-grid-item {
    background-color: bisque;
    margin: auto;
    width: 200px;
    height: 200px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    transition: all 700ms ease;
    position: relative;
}

img.AttributeImg {
    max-width: 100%;
    margin-top: 30px;
    position: absolute;
    left: calc(0%);
    clip: rect(0, 200px, 170px, 0);
    clip-path: inset(0% 0% 0% 0% round 10px);
}

h4.AttributeHeader {
    position: absolute;
    top: -20px;
    left: 10px;
}


.UserCollectible-grid-item:hover {
    background-color: bisque;
    margin: auto;
    width: 200px;
    height: 200px;
    font-size: 18px;
    text-align: center;
    transform: scale(1.1) perspective(1px);
    transition: all 700ms ease;
}

/*
.UserCollectible-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 25px;
    column-gap: 25px;

}
.UserCollectible-grid-item {
    background-color: bisque;
    margin: auto;
    width: 150px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    transition: all 700ms ease;
}


.UserCollectible-grid-item:hover {
    background-color: bisque;
    margin: auto;
    width: 150px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    transform: scale(1.2) perspective(1px);
    transition: all 700ms ease;
}

*/
/*
.searchbardiv{
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: auto;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#group{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;


}

.collection{
    flex-basis: 100%;
    background-color: bisque;
    margin: auto;
    margin-top: 1%;
    width: 80px;
    height: 80px;
    text-align: center;

}
*/