.CollectionsPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

#CollectionsBody {
  text-align: center;
  margin: auto;
}

#btnAddCollection {
  background: deepskyblue;
}