.OverviewPage {

  display: flex;
  flex-direction: column;

  gap: 20px;


  width: 100%;


}

#overviewBody {

  text-align: center;

  margin: auto;

}

#btnAddCollection {
  background: deepskyblue;
}