.LoginPage {

  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;

  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.LoginPage hr {
  width: 150px;

}

#btnLogin {
  margin-top: 10px;
  width: 120px;

  background: deepskyblue;
}

