.OverviewPage {

  display: flex;
  flex-direction: column;
  margin: auto;

  width: 160px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#overviewBody {
  width: 200px;
}

#btnAddCollection {
  background: deepskyblue;
}